<!DOCTYPE html>

<html>
<head>
    @RenderSection("head", false)
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.1.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>

</head>
<body>


    @RenderBody()

</body>
</html>
